.container {
  position: relative;
  margin: 20px;

  /* Gives each starter the same amount of space */
  width: 350px;
  height: 350px;

  /* Centres the Pokemon inside its space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-image {
  display: block;
  width: 325px;
  height: 325px;
  object-fit: contain;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  transition: .5s ease;
  z-index: 10;
}

.container:hover .overlay {
  width: 450px;

  /* needed so image is completely covered by card */
  background-color: #2A75BB;
}

.card-container {
  font-size: 20px;
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.char-details:hover {
  width: 450px;   /* makes cards full width on hover - might break grid?? */
}


/* Homepage starter Pokemon layout */
.home-starters {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  width: 100%;
}